.fav-list{
  background-color: #37003C;
  position: relative;
  display: grid;
}

thead{
  color:white;
  font-weight: bold;
  background-color: green;
  padding: 1rem;
}
tbody{
  color: black;
  background-color: khaki;
}