h2 {
  text-align: center;
}

.results {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 1rem;
  margin-right: 3rem;
}

.results:nth-child(odd) {
  background: rgba(0, 0, 0, 0.05);
}

.team {
  font-style: italic;
  font-weight: bold;
}
