
.myTeam{
    position: absolute;
    top: 0rem;
    right: 15rem;
    padding: 0.5rem;
    background-color: rgb(204, 204, 204);
    height: 3rem;
    overflow: hidden;
}

.myTeam:hover{
    height: auto;
}

.myTeamHeader{
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    height: 3rem;
    margin-bottom: 2rem;
    padding-right: 1rem;
}

.myTeamPlayer{
    display: grid;
    grid-template-columns: auto 1fr 3rem;
    grid-template-rows: 2rem;
    align-items: center;
}

.myTeamPlayer button{
    background-color: salmon;
}